  <% if @meeting.errors.any? %>
    <% @meeting.errors.messages.each do |message| %>
      <div class="message"><%= message.last.last.html_safe %></div>
    <% end %>
  <% end %>

  <% if @creator.errors.any? %>
    <% @creator.errors.messages.each do |message| %>
      <div class="message"><%= message.last.last.html_safe %></div>
    <% end %>
  <% end %>
  
  <div>
    <%= label_tag :email, t("meeting.views.new.text.email.label") %>
    <%= email_field_tag :email, nil, :id => "creator_email", :name => "creator[email]" %>
    <span class="description"><%= t("meeting.views.new.text.email.description") %></span>
  </div>
  <div>
    <%= label_tag :name, t("meeting.views.new.text.name.label") %>
    <%= text_field_tag :name, nil, :id => "creator_name", :name => "creator[name]" %>
    <span class="description"><%= t("meeting.views.new.text.name.description") %></span>
  </div>

  <div class="group">
    <%= f.label :subject, t("meeting.views.new.text.subject.label") %>
    <%= f.text_field :subject %>
  </div>

  <div class="group">
    <%= f.label :location, t("meeting.views.new.text.location.label") %>
    <%= f.text_field :location %>
  </div>

  <div class="group">
    <%= f.label :date, t("meeting.views.new.text.date.label") %>
    <%= f.hidden_field :date, :value => current_date %>
      <span id="date_picker"></span>
  </div>

  <div class="group">
    <%= label :time, t("meeting.views.new.text.time.label") %>
    <%= f.time_select :time, :minute_step => 15 %>
    <%= f.time_zone_select :time_zone, nil, {:default => "Lisbon"} %>
  </div>

  <div class="group">
    <%= f.label :duration, t("meeting.views.new.text.duration.label") %>
    <%= f.time_select :duration, :default => Time.now.change(:hour => 1), :minute_step => 15 %>
  </div>

  <div class="group">
    <%= f.label :extra_info, t("meeting.views.new.text.extra_info.label") %>
    <%= f.text_field :extra_info %>
  </div>

  <div class="group">
    <input type="hidden" id="newTopicNumber" value="1" />
		<div id="topicsDiv">
            <%= f.label :topics, t("meeting.views.new.text.topics.label") %>
			<div id="topic0">
				<%= f.text_field :topics, :id => "meeting_topic_0", :class => "shorter text_field", :name => "meeting[topics][]", :value => "" %>  <a href="#" tabindex="-1" onclick="removeTopic('topic0');return false;"> <img valign="top" alt="" src="/assets/icons/cross.png"> </a>
			</div>
		</div>
		<a href="#" onclick="addTopic();return false;">+</a>
    <span class="description"><%= t("meeting.views.new.buttons.topics.add")%></span>
  </div>