<% unless @meeting.participations.nil? %>
  <p>
    <b><%= t("meeting.views.show.text.participants") %></b>
  </p>
  <div class="list">
      <% num = 0 %>
      <% @meeting.participations.each do |participation| %>
          <div id="participant_<%=num%>">
            <%= participation.user.name_formatted %>
            <% if @participation.id != participation.id %>
              <a class="action_item"><img src="/assets/buttons/button-actions.png" alt="" class="clickable"></a>
              <a class="email"><img src="/assets/buttons/button-email.png" alt="" class="clickable"></a>
            <% else %>
              <a class="action_item"><img src="/assets/buttons/button-actions.png" alt="" class="clickable"></a>
            <% end %>
            <!--<% unless participation.action_items.nil? %>
              <% participation.action_items.each do |action_item| %>
                  <%= action_item.todo %>
                  <%= action_item.deadline %>
                  <%= action_item.completed %>
                </tr>
              <% end %>
            <% end %>-->
          </div>
      <% end %>
  </div>
<% end %>