<div id="attending">

<% if @participation.is_attending == 0 %>       <%# User still has not decided %>

  <%= link_to image_tag("/assets/icons/tick.png", :alt => "")+ " " + t("meeting.views.show.text.attending.confirm"), confirm_participation_path(@participation.link), :remote => true, :method => :post %>

  <%= link_to image_tag("/assets/icons/cross.png", :alt => "")+ " " + t("meeting.views.show.text.attending.decline"), decline_participation_path(@participation.link), :remote => true, :method => :post %>

<% elsif @participation.is_attending == 1 %>    <%# User is attending %>

  <span><%= t("meeting.views.show.text.attending.confirmed") %></span>

  <%= link_to image_tag("/assets/icons/cross.png", :alt => "")+ " " + t("meeting.views.show.text.attending.decline"), decline_participation_path(@participation.link), :remote => true, :method => :post %>

<% else %>                                      <%# User is not attending %>

  <%= link_to image_tag("/assets/icons/tick.png", :alt => "")+ " " + t("meeting.views.show.text.attending.confirm"), confirm_participation_path(@participation.link), :remote => true, :method => :post %>

  <span><%= t("meeting.views.show.text.attending.declined") %></span>
    
<% end %>

</div>