<div id="form" class="form">
  <div id="extra" class="extra">
    <% if @participation.is_admin %>
      <%= render 'admin_buttons' %>
    <% else %>
      <%= render 'participant_buttons' %>
    <% end %>
  </div>
  <div id="esqAct" class="esqAct">
    <%= render 'topics' %>
    <%= render 'participants' %>
  </div>
  <div id="dirAct" class="dirAct">
  <p><b><%= t("activerecord.attributes.meeting.minutes") %></b></p>
  <div class="inner" id="partialstatic_minutes">
    <%= render :partial => 'static_minutes' %>
  </div>
  <div class="inner" id="partialminutes">
    <%= render :partial => 'minutes' %>
  </div>
  </div>
</div>