<div>
  <%= form_for @meeting, :url => meeting_path(@participation.link), :html => { :class => :form } do |f| %>
    
    <%= render :partial => "editform", :locals => {:f => f} %>

    <button class="button" type="submit">
      <%= image_tag("/assets/icons/tick.png", :alt => "") %> <%= t("meeting.views.edit.buttons.save") %>
    </button>
    <span class="text_button_padding"><%= t("meeting.views.edit.text.or") %></span>
    <%= link_to t("meeting.views.edit.buttons.cancel"), meeting_path(@participation.link) %>

  <% end %>
</div>

<%= hidden_field_tag :locale, locale %>         <%# for the calendar translation %>