<div>
  <%= form_for @meeting, :url => meeting_path(@participation.link) do |f| %>
    
    <%= render :partial => "editform", :locals => {:f => f} %>

    <button class="button" type="submit">
      <%= image_tag("/assets/icons/tick.png", :alt => "") %> <%= t("meeting.views.edit.buttons.save") %>
    </button>
    <span class="text_button_padding"><%= t("meeting.views.edit.text.or") %></span>
    <%= link_to t("meeting.views.edit.buttons.cancel"), meeting_path(@participation.link) %>

  <% end %>
</div>

<%= javascript_tag do %>
  window.is_creator = "<%= @participation.is_creator %>";
  window.participation_id = "<%= @participation.link %>";
  window.locale = "<%= locale %>";
<% end %>