<div>
  <%= form_for @meeting, :url => meetings_path do |f| %>

    <%= render :partial => "newform", :locals => {:f => f} %>

    <button class="button" type="submit">
      <%= image_tag("/assets/icons/tick.png", :alt => "") %> <%= t("meeting.views.new.buttons.create") %>
    </button>
    <span class="text_button_padding"><%= t("meeting.views.new.text.or") %></span>
    <%= link_to t("meeting.views.new.buttons.cancel"), root_path %>

  <% end %>
</div>

<%= hidden_field_tag :locale, locale %>         <%# for the calendar translation %>