<%= render :partial => 'showform' %>

<button id="dlp" class="dlp-button"></button>

<%= form_for @meeting, :url => meeting_path(@participation.link), :html => { :class => "" } do |f| %>
  <%= render :partial => 'editform', :locals => {:f => f}  %>

  <button type="submit" id="confirm" class="home-button" style="display:none;"></button>
<% end %>


<%= hidden_field_tag :token, @participation.link %>
<%= hidden_field_tag :creator, @participation.is_creator %>