<%= render :partial => 'showform' %>

<% if @participation.is_admin %>
  <%= form_for @meeting, :url => meeting_path(@participation.link) do |f| %>
    <%= render :partial => 'editform', :locals => {:f => f}  %>

    <button type="submit" id="confirm" class="home-button" style="display:none;" title="<%= t("meeting.views.show.buttons.save.title") %>"></button>
  <% end %>
<% end %>


<%= javascript_tag do %>
  window.is_creator = "<%= @participation.is_creator %>";
  window.participation_id = "<%= @participation.link %>";
  window.locale = "<%= locale %>";
<% end %>
