<div class="block" id="block-participants">
  <div class="content">
    <div class="inner">
    <input type="hidden" id="token" value="<%= @participation.link %>">
    <table class="centered table">
    
      <% if @is_admin %>
        <% if @meeting.participations.present? %>
          <tr>
            <td width='45%'><%= t("email.self") %></td>
            <td width='25%'><%= t("status") %></td>
            <td width='15%'><%= t("assign_action_item") %></td>
            <td width='15%'><%= t("send_email") %></td>
          </tr>
          <% num = 0 %>
          <% @meeting.participations.each do |participation| %>
            <% rowClass = cycle("even", "odd") %>
            
            <tr class="<%=rowClass%>">
              <td class="leftered" width='45%'>
              <% if participation.user.name.blank? %>
                <%=participation.user.email %>
              <% else %>
                <%= participation.user.name %> (<%=participation.user.email %>)
              <% end %>
              </td>
              
              <% if participation.is_attending == -1 %>
               <td width='25%'><%= t("attending.declined") %></td>
               <td width='15%'><a href="#" onclick="showAction('participant_<%=num%>'); return false;"><img src="/assets/icons/script.png" alt="<%= t("alt.add_minutes")%>" /></a></td>
               <td width='15%'></td>
              <% elsif participation.is_attending == 0 %>
               <td width='25%'><%= t("attending.unknown") %></td>
               <td width='15%'><a href="#" onclick="showAction('participant_<%=num%>');return false;"><img src="/assets/icons/script.png" alt="<%= t("alt.add_minutes")%>" /></a></td>
               <td width='15%'>
                <a id="email_image_<%= participation.id %>"href='#' onclick="sendEmail(<%= participation.id %>); return false;"><img src="/assets/icons/email.png"/></a>
               </td>
              <% elsif participation.is_attending == 1 %>
              <td width='25%'><%= t("attending.confirmed") %></td>
              <td width='15%'><a href="#" onclick="showAction('participant_<%=num%>');return false;"><img src="/assets/icons/script.png" alt="<%= t("alt.add_minutes")%>" /></a></td>
              <td width='15%'></td>
              <% end %>
            </tr>
            
            <tr id='participant_<%=num %>' class="hidden <%=rowClass%>">
              <td class="leftered" width='45%'><%= t("action") %>: <input id='item' class="styled" type='text' maxlength='200' value='<%=participation.action_item%>' /></td>
              <td width='25%'><%= t("date") %>: <input id='date' class="styled", type='text' maxlength='10' value='<%=participation.deadline%>'></td>
              <td class="centered" width='15%'><a href='#' onclick="addActionItem('participant_<%=num%>',<%=participation.id%>,'<%=participation.user.email%>');return false;"><img src="/assets/icons/pencil.png" /></a></td>
              <td width='15%'></td>
            </tr>
            
            <% num = num + 1 %>
          <% end %>
        <% else %>
          <tr><td class="leftered"><%= t("meeting.no_participants") %></td></tr>
        <% end %>
      <% else %>
        <tr>
          <td width='65%'><%= t("email.self") %></td>
          <td width='35%'><%= t("status") %></td>
        </tr>
        <% if @meeting.participations.present? 
          num = 0 %>
          <% @meeting.participations.each do |participation| %>
            <% rowClass = cycle("even", "odd") %>
          
            <tr class="<%=rowClass%>">
              <td class="leftered" width='65%'><%=participation.user.email %></td>
              <% if participation.is_attending == -1 %>
                <td width='35%'><%= t("attending.declined") %></td>
              <% elsif participation.is_attending == 0 %>
                <td width='35%'><%= t("attending.unknown") %></td>
              <% elsif participation.is_attending == 1 %>
                <td width='35%'><%= t("attending.confirmed") %></td>
              <% end %>
            </tr>
            <% num = num + 1 %>
          <% end %>
        <% end %>
      <% end %>
    </table>
    </div>
  </div>
</div>