<% if @meeting.errors.any? %>
  <% @meeting.errors.messages.each do |message| %>
    <div class="message"><%= message.last.last.html_safe %></div>
  <% end %>
<% end %>

<% if @creator.errors.any? %>
  <% @creator.errors.messages.each do |message| %>
    <div class="message"><%= message.last.last.html_safe %></div>
  <% end %>
<% end %>

<%= form_for @meeting, :url => meetings_path, :html => { :class => "" } do |f| %>
  
  <div id="form" class="form" style="display: none;">
    <%= render :partial => "meetings/newform", :locals => {:f => f} %>
  </div>

  <div id="effect">
    <button type="submit" id="new" class="home-button"></button>
  </div>
  <button type="button" id="cancel" class="home-button" style="display:none;">X</button>

<% end %>

<%= javascript_tag do %>
  window.locale = "<%= locale %>";
<% end %>
